input/Bewerbung.docx
Bewerbung.pdf
temp/tempfile1.pdf
temp/tempfile.docx
input/InfoschreibenKooperationsbetriebe.pdf
input/LebenslaufSergeBerger.pdf
input/ZeugnisRealschule.pdf
dist/input/Bewerbung.docx
dist/Bewerbung.pdf
dist/temp/tempfile1.pdf
dist/temp/tempfile.docx
dist/input/InfoschreibenKooperationsbetriebe.pdf
dist/input/LebenslaufSergeBerger.pdf
dist/input/ZeugnisRealschule.pdf
build
main.spec